<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Solicitar Cita</title>
    <script src = "{{ url_for('static', filename = '../static/js/registro.js') }}"></script> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename = '../static/css/estilosLogin.css') }}">
    <link rel="icon" href="{{url_for('static', filename = 'img/favicon.png')}}">
	

</head>  
<body>

    
    <nav>
        <a href="/inicio/iniciarSesion/Paciente" class="nav-link">Regresar</a>
        <a href="/inicio/busqueda" class="btn">
            <i class="fas fa-search"></i>
        </a>
    </nav>
    

    <form action="/inicio/iniciarSesion/Paciente/agregarCalificacion" method="POST" class="formulario-registro">
        
        <h1>Agregar Calificacion</h1>

            <li>Los comentarios seran anonimos y tenidos en cuenta</li>
            <li>Todos los campos son obligatorios.</li>
            <li>La calificacion debe ser del 1 al 5 donde 1 es POCO satisfecho y 5 es MUY satisfecho.</li>
            <li>Solo se podran cambiar las citas <span style="color:rgba(22, 62, 241, 0.911)">Aceptadas</span></li> 
            
            <p></p>
            <div class="contenedor">
               
                <div class="input">
                    <input name="cita" type="number" style="border-style:solid;" placeholder="Id de la cita a cambiar">
                </div><br>

                <div class="input">
                    Calificacion:&nbsp;&nbsp;&nbsp;&nbsp;<select name ="calificacion">
                        <option value = Ninguno>--Calificacion--                
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        </select>
                </div><br>
                        
        
                <div class="input">
                    <h2>Comentarios</h2>
                    <textarea class="text-area" name="comentario" id="" cols="50" rows="10"></textarea>
                </div><br>

                               
                <div class="input-contenedor">
                </div>
                <input type="submit" value="Agregar comentarios" class="button">
            
            </div>
        <h3 style="color:red">{{ mensaje }}</h3>
    </form>

<script src = "{{ url_for('static', filename = '../static/js/registro.js') }}"></script> 
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>

</html>

</html>